* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  *:before,
  *:after {
    -webkit-box-sizing:inherit;
    box-sizing:inherit;
  }
  .text-nav .fa-fw {
    width: 15px;
  }
  :root {
    --white:white;
    --black:black;
    --gray:#f1f1f1;
    --black-000:#000;
    --text-gray:#757575;
    --text-white:#f2f2f2;
    --text-black:#333;
    --text-btn:#005c33;
    --icon-green:#005c33;
    --icon-return-c:#fff;
    --icon-return-b:#999;
  }
  
  [data-theme="dark"] {
    --white:#06081a;
    --black:white;
    --gray:#151726;
    --black-000:#fff;
    --text-gray:#f2f2f2;
    --text-white:#333;
    --text-black:#f2f2f2;
    --text-btn:#009688;
    --icon-green:#009688;
    --icon-return-c:#394282;
    --icon-return-b:#fff;
  }
  
  html {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  html {
    overflow-x:hidden;
  }
  
  ul,
  li {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:#333;
    text-decoration:none;
  }
  
  p {
    display:block;
    margin: 0 0 12px;
  }
  
  .hidden {
    display:none;
  }
  
  a:active,
  a:hover {
    outline-width:0;
  }
  
  img {
    vertical-align:middle;
  }
  
  img {
    border-style:none;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:"Raleway",sans-serif;
  }
  
  html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
  }
  
  html,
  body {
    font-family:"Raleway",sans-serif;
    font-size:15px;
    line-height:1.5;
  }
  
  h1 {
    font-size:36px;
  }
  
  h4 {
    font-size:20px;
  }
  
  b,
  strong {
    font-weight:bolder;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight:400;
    margin:10px 0;
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section {
    display:block;
  }
  
  .w3-content {
    margin-left:auto;
    margin-right:auto;
  }
  
  .w3-container,
  .w3-panel {
    padding:0.01em 16px;
  }
  
  .w3-white,
  .w3-hover-white:hover {
    color:var(--text-black);
    background-color:var(--white);
  }
  
  .w3-container:after,
  .w3-container:before,
  .w3-panel:after,
  .w3-panel:before,
  .w3-row:after,
  .w3-row:before,
  .w3-row-padding:after,
  .w3-row-padding:before,
  .w3-cell-row:before,
  .w3-cell-row:after,
  .w3-clear:after,
  .w3-clear:before,
  .w3-bar:before,
  .w3-bar:after {
    content:"";
    display:table;
    clear:both;
  }
  
  .w3-animate-left {
    position:relative;
    -webkit-animation:animateleft 0.4s;
    animation:animateleft 0.4s;
  }
  
  .bg--gray {
    background-color:var(--gray);
  }
  
  .w3-right {
    float:right !important;
  }
  
  .w3-padding {
    padding:8px 16px !important;
  }
  
  .w3-sidebar {
    height:100%;
    width:200px;
    background-color:var(--white);
    position:fixed !important;
    z-index:1;
    overflow:auto;
  }
  
  .w3-jumbo {
    font-size:64px !important;
  }
  
  .w3-text-grey,
  .w3-hover-grey:hover,
  .w3-hover-gray:hover {
    color:#757575 !important;
  }
  
  .w3-round,
  .w3-round-medium {
    border-radius:5px;
  }
  
  .w3-bar-block .w3-bar-item {
    width:89%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
  }
  
  .w3-text-teal,
  .w3-hover-text-teal:hover {
    color:#009688 !important;
  }
  
  .w3-btn,
  .w3-button {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
  
  .w3-btn,
  .w3-button {
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
  }
  
  .w3-margin-right {
    margin-right:16px !important;
  }
  
  .w3-button:hover {
    color:var(--text-btn);
  }
  
  .w3-opacity,
  .w3-hover-opacity:hover {
    opacity:0.60;
  }
  
  .w3-large {
    font-size:25px;
  }
  
  .w3-panel {
    margin-top:16px;
    margin-bottom:16px;
  }
  
  .w3-position-absolute {
    position:absolute;
    bottom:0 !important;
    left:0;
    z-index:1;
  }
  
  .w3-animate-opacity {
    -webkit-animation:opac 0.8s;
    animation:opac 0.8s;
  }
  
  .w3-overlay {
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
  }
  
  .w3-main,
  #main {
    -webkit-transition:margin-left .4s;
    transition:margin-left .4s;
  }
  
  .w3-margin-8 {
    margin:8px 16px !important;
  }
  
  .w3-circle {
    border-radius:50%;
  }
  
  .w3-xxlarge {
    font-size:36px !important;
  }
  
  .w3-padding-16 {
    padding:16px 0;
  }
  
  .w3-section,
  .w3-code {
    margin-top:16px !important;
    margin-bottom:16px !important;
  }
  
  .w3-bottombar {
    border-bottom:6px solid #ccc !important;
  }
  
  .w3-black,
  .w3-hover-black:hover {
    color:var(--text-white);
    background-color:var(--black);
  }
  
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance:button;
  }
  
  button,
  input,
  select,
  textarea,
  optgroup {
    font:inherit;
    margin:0;
  }
  
  button,
  select {
    text-transform:none;
  }
  
  button,
  input {
    overflow:visible;
  }
  
  .w3-button {
    outline:unset;
  }
  
  .w3-row-padding,
  .w3-row-padding > .w3-half,
  .w3-row-padding > .w3-third,
  .w3-row-padding > .w3-twothird,
  .w3-row-padding > .w3-threequarter,
  .w3-row-padding > .w3-quarter,
  .w3-row-padding > .w3-col {
    padding:0 8px;
  }
  
  .w3-margin-bottom {
    margin-bottom:16px;
  }
  
  @media (min-width:601px) {
    .w3-col.m4,
    .w3-third {
      width:33.33333% !important;
    }
    .w3-col-75 {
      width: 75% !important;
    }
    .w3-col-25 {
      width: 25% !important;
    }
  }
   
  .w3-col,
  .w3-half,
  .w3-third,
  .w3-twothird,
  .w3-threequarter,
  .w3-quarter {
    float:left;
    width:100%;
  }
  
  .w3-image {
    position:relative;
    overflow:hidden;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding-top:53%;
  }
  
  .w3-image img {
    /* max-height:271px;
    */
  
  position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
  }
  
  .w3-padding-32 {
    padding-top:32px;
    padding-bottom:32px;
  }
  
  .w3-center {
    text-align:center;
  }
  
  .w3-center .w3-bar {
    display:inline-block;
    width:auto;
  }
  
  .w3-bar {
    width:100%;
    overflow:hidden;
  }
  
  .w3-bar .w3-button {
    white-space:normal;
  }
  
  .w3-bar .w3-bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
  }
  
  b {
    color:var(--black-000);
  }
  
  .text-slogan {
    color:var(--text-gray);
  }
  
  .icon-color {
    color:var(--icon-green);
  }
  
  .text-cate {
    color:var(--text-black);
  }
  
  .text-cate.active {
    color:var(--text-white);
    background-color: var(--black);
  }
  
  .theme-switch-wrapper {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position:absolute;
    bottom:20px;
    left:16px;
    z-index:1000px;
  }
  
  .theme-switch {
    display:inline-block;
    position:relative;
    height:34px;
    width:60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider-cb {
    background-color:#999;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    -webkit-transition:.4s;
    transition:.4s;
  }
  
  .slider-cb:before {
    content:'';
    background-color:white;
    position:absolute;
    bottom:4px;
    left:4px;
    cursor:pointer;
    height:26px;
    width:26px;
    -webkit-transition:.4s;
    transition:.4s;
  }
  
  input.dark + .slider-cb {
    background-color:var(--icon-green);
  }
  
  input.dark + .slider-cb::before {
    -webkit-transform:translateX(26px);
    transform:translateX(26px);
  }
  
  .slider-cb.round {
    border-radius:34px;
  }
  
  .slider-cb.round:before {
    border-radius:34px;
  }
  
  input[type="checkbox"] {
    outline:none;
  }
  
  #return-to-top {
    position:fixed;
    display:block;
    text-decoration:none;
    border-radius:35px;
    -webkit-transition:all 0.3s linear;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    cursor:pointer;
    bottom:20px;
    right:16px;
    z-index:99;
  }
  
  #return-to-top .fa-rocket {
    background:var(--icon-return-b);
    color:var(--icon-green);
    width:42px;
    height:42px;
    font-size:20px;
    text-align:center;
    line-height:42px;
    border-radius:8px;
    -webkit-box-shadow:0 1px 0 4px #fffafa17;
    box-shadow:0 1px 0 4px #fffafa17;
  }
  
  @-webkit-keyframes animateleft {
    0% {
      left:-300px;
      opacity:0;
    }
    100% {
      left:0;
      opacity:1;
    }
  }
  
  @keyframes animateleft {
    0% {
      left:-300px;
      opacity:0;
    }
    100% {
      left:0;
      opacity:1;
    }
  }
  
  @media (min-width:993px) {
    .w3-sidebar.w3-collapse {
      display:block !important;
    }
    .w3-hide-large {
      display:none !important;
    }
  }
  
  @media (max-width:992px) {
    .w3-sidebar.w3-collapse {
      display:none;
    }
    .w3-main {
      margin-left:0 !important;
      margin-right:0 !important;
    }
  }
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .w3-col-25,
  .w3-col-75 {
    padding: 0 8px;
}
.btn {cursor: pointer;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}